/* Insert Font */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=The+Girl+Next+Door&display=swap');

html body{
  font-family: 'The Girl Next Door', cursive;
  height: 100vh;
  width: 100vw;
}
.lista button {
  padding: 0.3rem;
  border-radius: 10%;
  transition: 1.6s;
  font-weight: 500;
}

.lista button:hover {
  padding: 0.3rem;
  border-radius: 10%;
  border-bottom: 0px;
  border-right: 0px;
  position: relative;
  animation: earthquake linear 3s;
  position: relative;
  transform: rotateY(20deg);
}

.lista button:hover::after {
  width: 30px;
    height: 100%;
    display: flex;
    content: "->";
    position: absolute;
    left: -23px;
    top: 3px;
}

.list-places li {
  color: white;
  opacity: 100;
  margin: 0 auto;
}

.list-places li:nth-child(4) {
  margin-bottom: 30px;
}

.list-places li:hover {
  color: cyan;
}

.list-places {
  width: 100%;
}

.hr-styles {
  background: linear-gradient(to right, red, yellow);
  height: 3px;
  width: 80%;
  margin: 0 auto;
}

.img-dest1 {
  transition: 1s;
}

.img-dest1:nth-child(1):hover {
  rotate: 360deg;
}

.clasificacion input {
  display: none;
}

.clasificacion label {
  color: grey;
}

.clasificacion label:hover {
  color: orange;
}

input[type='radio']:checked ~ label {
  color: orange;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.divName {
  transition: 800ms;
}

.activeName {
  position: relative;
  width: 30px;
  border-radius: 50%;
  animation: ghost 7s normal;
  animation-delay: 1s;
}

.activeName::-moz-placeholder {
  color: transparent;
}

.activeStars {
  width: 30px;
  border-radius: 50%;
  height: 30px;
  animation: ghost 7s normal;
  animation-delay: 1.5s;
}

.activeStars label {
  opacity: 0; 
}

.divStars, .divText{
  transition: 1s;
}

.activeText {
  width: 30px;
  border-radius: 50%;
  height: 30px;
  margin-top: 40px;
  margin-left: -34px;
  resize: none;
  animation: ghost 7s normal;
  animation-delay: 1s;
}

.activeText::-moz-placeholder {
  color: transparent;
}

.flyAway {
  transition-duration: 3s;
  transition-delay: 1s;
}

.activeFly {
  position: relative;
  rotate: 43deg;
  animation: flyflyaway 6s normal;
  animation-delay: 3.5s;
}



@keyframes flyflyaway {
  0%{
    left: 0;
    top: 0;
  }
  30%{
    top: 100px;
  }
  45%{
    top: -100px;
  }
  60%{
    scale: 1.5;
    rotate: 50deg Y;
    top: -400px;
  }
  100%{
    left: 2000px;
  }
  }

  @keyframes ghost{
    0%{
      opacity: 1;
    }
    25%{
      opacity: 0.4;
    }
    50%{
      opacity: 0;
    }
    100%{
      opacity: 0;
    }
  }

  /* Hamburguer style */
  .bars__menu {
    width: 20px;
    height: 20px;
    cursor: pointer;
    justify-content: center;
    transform: rotateX(0deg);
    transform: translateY(-0%);
    margin: 10px 0px;
    transition: 2s;
  }
  
  .bars__menu span {
    display: flex;
    width: 100%;
    height: 2px;
    background-color: black;
    margin-top: 8px;
    transform-origin: 0px 100%;
  }

  .bars__menu :nth-child(odd){
    margin-left: -8px;
    transform: rotate(30deg);
  }

  .bars__menu :nth-child(even){
    margin-left: 8px;
    transform: rotate(-30deg); 
  }

  .destination-1::after{
    width: 30px;
    height: 100%;
    background-color: rgb(177, 130, 130);
    display: flex;
    content: "";
    position: absolute;
    right: 0%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    cursor: pointer;
  }

  .destination-1::after{
    content: "⬇";
    justify-content: center;
    align-items: center;
    color: white;
  }

  @keyframes earthquake {
    10%, 90% {
      transform: translate3d(-2px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(4px, 4px, 4px);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-8px, 8px, -4px);
    }
  
    40%, 60% {
      transform: translate3d(8px, -8px, -8px);
    }
  }

  @media (min-width: 650px) {
    .hamburguers{
      display: none;
    }
  }

  @media (max-width: 650px) {

    .lista{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      margin: 20px 0 0 0px;
      transition: 3s;
      border: white solid 1px;
      border-radius: 50%;
    }

    .activeDivLista{
      margin-top: -270px;
      opacity: 0;
    }

    .activeArrow{
      transform: rotate(180deg);
      margin-top: 30px;
    }
  }

 