.cardBox {
  float: left;
  font-size: 1.2em;
  perspective: 800px;
  transition: all 0.8s ease 0s;
}

.card {
  display: block;
  max-height: 581px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1.5s 1;
  border-radius: 1rem;
}

.front,
.back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  font-size: 1.2em;
  max-height: 581px;
  text-align: center;
  width: 100%;
  border-radius: 1rem;
}

.card .back {
  transform: rotateY(0deg);
  background-color: rgb(75, 75, 75, 0.6);
  position: absolute;
  top: 0;
}

@keyframes giro {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@media (min-width: 1024px) {
  .cardBox:hover .card {
    transform: rotateY(180deg);
  }
  .card .back{
    transform: rotateY(180deg);
  }
}